{% extends "layout.html" %}
{% block body %}

<style>
    h1 {text-align: center;}
    div {text-align: center;}
</style>
<div class="container">
    <p class="text-center text-muted"><h1>~~:About:~~</h1></p>
    <hr>
</div>
<div>
    <h3>~~:This is a Web App made by the following tools:~~</h3>
    <p>HTML(HyperText Markup Language)</p>
    <p>CSS(Cascading Style Sheet)</p>
    <p>Flask Framework</p>
    <p>Python Programming Language</p>
    <p>SQLite for Data Storage</p>
</div>
<hr>
<div>
    <p>This is a Ticket Booking WebApp.</p>
    <p>You can book your shows in your pleasurable Movie Theatres.</p>
    <p>Thanks for Choosing our App!!</p>
    <h6>~~:Happy Watching:~~</h6>
</div>

{% endblock %}
