{% extends "layout.html" %}
{% block body %}

<style>
  h1{text-align: center;}
  
</style>
<br>
<div>
  <h1>Frequently Asked Questions</h1>
</div>

<ol>
  <li>
    <div>
      <h3>How to Book Your Movie</h3>
      <h6>Ans: Click on the Thumbnail to Book your shows</h6>
      <h6>&emsp;&ensp;&ensp;Thank You🙏</h6>
      <hr>
    </div>
  </li>
  <li>
    <div>
      <h3>How to Search a Movie/Venue</h3>
      <h6>Ans: On the top right corner of the screen,there is a search button.
        That leads to a new page
         Type the name of your Movie/Venue to get Favourable results.</h6>
      <h6>&emsp;&ensp;&ensp;Thank You🙏</h6>
      <hr>
    </div>
  </li>
</ol>


{% endblock %}
